.highlight {
  background : #E00;
  z-index    : 1;
}
.unhighlight {
  background : #000;
}


.hex .head {
	width : 0;
	border-bottom-style : solid;
	border-bottom-color : #6C6;
	border-left-style   : solid;
	border-left-color   : transparent;
	border-right-style  : solid; 
	border-right-color  : transparent;
}

.hex .center{
	background-color : #6C6;
}

.hex .tail {
	width : 0;
	border-top-style    : solid;
	border-top-color    : #6C6;
	border-left-style   : solid;
	border-left-color   : transparent;
	border-right-style  : solid; 
	border-right-color  : transparent;
}

.open.hex .head {	border-bottom-color:rgba(50,200,50,0.5);}
.open.hex .center {	background-color:rgba(50,200,50,0.5);}
.open.hex .tail{ border-top-color:rgba(50,200,50,0.5);}


.hill.hex .head {	border-bottom-color:rgba(200,200,100,1);}
.hill.hex .center {	background-color:rgba(200,200,100,1);}
.hill.hex .tail{ border-top-color:rgba(200,200,100,1);}

.river.hex .head {	border-bottom-color:rgba(100,100,250,0.8);}
.river.hex .center {	background-color:rgba(100,100,250,0.8);}
.river.hex .tail{ border-top-color:rgba(100,100,250,0.8);}


