.highlight {
  background : #E00;
  z-index    : 1;
}
.unhighlight {
  background : #000;
}

.line {
  height : 2px;
}

.hex .head {
	width : 0;
	border-bottom-style : solid;
	border-bottom-color : #6C6;
	border-left-style   : solid;
	border-left-color   : transparent;
	border-right-style  : solid; 
	border-right-color  : transparent;
}

.hex .center{
	background-color : #6C6;
}

.hex .tail {
	width : 0;
	border-top-style    : solid;
	border-top-color    : #6C6;
	border-left-style   : solid;
	border-left-color   : transparent;
	border-right-style  : solid; 
	border-right-color  : transparent;
}

.open.hex .head {	border-bottom-color:rgba(50,200,50,0.5);}
.open.hex .center {	background-color:rgba(50,200,50,0.5);}
.open.hex .tail{ border-top-color:rgba(50,200,50,0.5);}


.hill.hex .head {	border-bottom-color:rgba(200,200,100,0.8);}
.hill.hex .center {	background-color:rgba(200,200,100,0.8);}
.hill.hex .tail{ border-top-color:rgba(200,200,100,0.8);}

.river.hex .head {	border-bottom-color:rgba(100,100,250,0.8);}
.river.hex .center {	background-color:rgba(100,100,250,0.8);}
.river.hex .tail{ border-top-color:rgba(100,100,250,0.8);}

.forest.hex .head {	border-bottom-color:rgba(30,200,60,0.95);}
.forest.hex .center {	background-color:rgba(30,200,60,0.95);}
.forest.hex .tail{ border-top-color:rgba(30,200,60,0.95);}

.town.hex .head {	border-bottom-color:rgba(175,179,172,0.5);}
.town.hex .center {	background-color:rgba(175,179,172,0.5);}
.town.hex .tail{ border-top-color:rgba(175,179,172,0.5);}

.trench.hex .head {	border-bottom-color:rgba(173,137,79,0.9);}
.trench.hex .center {	background-color:rgba(173,137,79,0.9);}
.trench.hex .tail{ border-top-color:rgba(173,137,79,0.9);}

.block.hex .head {	border-bottom-color:rgba(0,0,0,1);}
.block.hex .center {	background-color:rgba(0,0,0,1);}
.block.hex .tail{ border-top-color:rgba(0,0,0,1);}

.space.hex .head {	border-bottom-color:rgba(10,10,10,0.9);}
.space.hex .center {	background-color:rgba(10,10,10,0.9);}
.space.hex .tail{ border-top-color:rgba(10,10,10,0.9);}
