
.line {
  height : 2px;
}


.counter {
  position    : absolute;
  z-index     : 1;
  -webkit-user-select : none;
  user-select : none;
}

.counter .pad {
  position : absolute;
  left   : 20%;
  right  : 20%;
  top    : 28%;
  height : 34%;
}

.counter .size {
  left  : 0;  
  right : 0;
  top   : 0; 
  position   : absolute;
  font-size  : 70%;
  text-align : center;
  -webkit-user-select : none;
  user-select : none;
}


.counter .l0 {
  left : 12%;  /* 6/50 */
  top  : 68%; /* 34/50 */
  position  : absolute;
  font-size : 75%;
  -webkit-user-select : none;
  user-select : none;

}

.counter .l1 {
  left : 36%; /* 18/50 */
  top  : 68%; 
  position  : absolute;
  font-size : 75%;
  -webkit-user-select : none;
  user-select : none;

}

.counter .l2 {
  left : 72%; /* 36/50 */
  top  : 68%;
  position  : absolute;
  font-size : 75%;
  -webkit-user-select : none;
  user-select : none;

}

.stack1 {
  z-index   : 1;
  transform : translate(0px,0px);
}
.stack2 {
  z-index   : 2;
  transform : translate(6px,-6px);
}
.stack3 {
  z-index   : 3;
  transform : translate(12px,-12px);
}





.British {background-color:rgba(255,50,50,1);border:2px solid rgba(0,0,0,1);}
.British .pad {background-color:rgba(250,250,250,1);border:2px solid rgba(30,30,100,1);}
.British .line {background-color:rgba(30,30,30,1);}
.British .size {color:rgba(255,255,255,1);}
.British .l0 {color:rgba(255,255,255,1);}
.British .l1 {color:rgba(255,255,255,1);}
.British .l2 {color:rgba(255,255,255,1);}

.Indian {background-color:rgba(100,100,0,1);border:2px solid rgba(0,0,0,1);}
.Indian .pad {background-color:rgba(200,200,0,1);border:2px solid rgba(0,0,0,1);}
.Indian .line {background-color:rgba(0,0,0,1);}
.Indian .size {color:rgba(255,255,255,1);}
.Indian .l0 {color:rgba(255,255,255,1);}
.Indian .l1 {color:rgba(255,255,255,1);}
.Indian .l2 {color:rgba(255,255,255,1);}

.Austria {background-color:rgba(240,240,240,1);border:2px solid rgba(220,220,20,1);}
.Austria .pad {background-color:rgba(250,250,250,1);border:2px solid rgba(20,20,20,1);}
.Austria .line {background-color:rgba(20,20,20,1);}
.Austria .size {color:rgba(0,0,0,1);}
.Austria .l0 {color:rgba(0,0,0,1);}
.Austria .l1 {color:rgba(0,0,0,1);}
.Austria .l2 {color:rgba(0,0,0,1);}

.Russian {background-color:rgba(50,200,50,1);border:2px solid rgba(100,100,100,1);}
.Russian .pad {background-color:rgba(255,255,255,1);border:2px solid rgba(0,0,0,1);}
.Russian .line {background-color:rgba(0,0,0,1);}
.Russian .size {color:rgba(255,255,255,1);}
.Russian .l0 {color:rgba(255,255,255,1);}
.Russian .l1 {color:rgba(255,255,255,1);}
.Russian .l2 {color:rgba(255,255,255,1);}

.Empire {background-color:rgba(0,0,0,1);border:2px solid rgba(10,10,10,1);}
.Empire .pad {background-color:rgba(255,255,255,1);border:2px solid rgba(0,0,0,1);}
.Empire .line {background-color:rgba(0,0,0,1);}
.Empire .size {color:rgba(255,255,255,1);}
.Empire .l0 {color:rgba(255,255,255,1);}
.Empire .l1 {color:rgba(255,255,255,1);}
.Empire .l2 {color:rgba(255,255,255,1);}

.Kingdom {background-color:rgba(110,110,220,1);border:2px solid rgba(0,0,0,1);}
.Kingdom .pad {background-color:rgba(150,150,150,1);border:2px solid rgba(30,30,100,1);}
.Kingdom .line {background-color:rgba(30,30,100,1);}
.Kingdom .size {color:rgba(255,255,255,1);}
.Kingdom .l0 {color:rgba(255,255,255,1);}
.Kingdom .l1 {color:rgba(255,255,255,1);}
.Kingdom .l2 {color:rgba(255,255,255,1);}

.USA {background-color:rgba(47,60,152,1);border:2px solid rgba(10,10,10,1);}
.USA .pad {background-color:rgba(103,122,181,1);border:1px solid rgba(255,255,255,1);}
.USA .line {background-color:rgba(255,255,255,1);height : 1px;}
.USA .size {color:rgba(255,255,255,1);}
.USA .l0 {color:rgba(255,255,255,1);}
.USA .l1 {color:rgba(255,255,255,1);}
.USA .l2 {color:rgba(255,255,255,1);}

.CSA {background-color:rgba(156,157,139,1);border:2px solid rgba(10,10,10,1);}
.CSA .pad {background-color:rgba(191,169,96,1);border:1px solid rgba(255,255,255,1);}
.CSA .line {background-color:rgba(255,255,255,1);height : 1px;}
.CSA .size {color:rgba(0,0,0,1);}
.CSA .l0 {color:rgba(0,0,0,1);}
.CSA .l1 {color:rgba(0,0,0,1);}
.CSA .l2 {color:rgba(0,0,0,1);}